/*
罫線定義
*/

@use "./size";
@use "./color";

// 罫線サイズ
$width-thin: size.$abs-minimum;

// 罫線定義
$separator-thin: solid $width-thin color.$separator-border;

// 無効状態罫線定義
$invalid-thin: solid $width-thin color.$invalid;

// フォーカス状態罫線定義
$focus-thin: solid $width-thin color.$focus;

// 透明罫線定義
$transparent: solid $width-thin transparent;
