/*
カラースキーマ定義
*/

@use "palette";
@use "sass:color";

// メイン部分
$main-background: palette.$azure;
$main-text: palette.$prussian-blue;

// サブ部分
$sub-background: palette.$tranquil;

// 反対色部分
$opposite-background: palette.$atomic;
$opposite-text: palette.$tranquil;

// リンク
$anchor-text: palette.$dodger-blue;
$visited-anchor-text: palette.$blue-violet;

// 区切り線
$separator-border: palette.$link-water;

// テーマカラー
$primary: palette.$dodger-blue;
$primary-background: color.adjust($primary, $lightness: 40%);
$primary-text: color.adjust($primary, $lightness: -20%);

$secondary: palette.$slate-grey;
$secondary-background: color.adjust($secondary, $lightness: 40%);
$secondary-text: color.adjust($secondary, $lightness: -20%);

$success: palette.$dark-pastel-green;
$success-background: color.adjust($success, $lightness: 40%);
$success-text: color.adjust($success, $lightness: -20%);

$warning: palette.$sunglow;
$warning-background: color.adjust($warning, $lightness: 20%);
$warning-text: color.adjust($warning, $lightness: -40%);

$danger: palette.$bittersweet;
$danger-background: color.adjust($danger, $lightness: 20%);
$danger-text: color.adjust($danger, $lightness: -40%);
