/**
フォントサイズ定義
*/

@use "./size";

$xs: size.$rem-xs;
$sm: size.$rem-sm;
$md: size.$rem-md;
$lg: size.$rem-lg;
$xl: size.$rem-xl;

$em-xs: size.$em-xs;
$em-sm: size.$em-sm;
$em-md: size.$em-md;
$em-lg: size.$em-lg;
$em-xl: size.$em-xl;
