/*
サイズ定義
*/

// 絶対値定義・最小サイズ
$abs-minimum: 1px;

// 絶対値定義
$abs-xs: 4px;
$abs-sm: 8px;
$abs-md: 16px;
$abs-lg: 32px;
$abs-xl: 64px;

// 文字との相対値定義
$rem-xs: 0.25rem;
$rem-sm: 0.5rem;
$rem-md: 1rem;
$rem-lg: 2rem;
$rem-xl: 4rem;

// 画面サイズ
$screen-mobile: 640px;
$screen-middle: 768px;
$screen-large: 1024px;
$screen-xlarge: 1280px;
