/*
テーマカラー追加mixin
*/

@use "sass:map";
@use "../variables" as v;

/*
テーマカラー名
*/
$names: "recommend", "review", "fresh", "warning", "danger";

/*
テーマカラー色
*/
$map: (
    "recommend": v.$color-recommend,
    "review": v.$color-review,
    "fresh": v.$color-fresh,
    "warning": v.$color-warning,
    "danger": v.$color-danger,
);

/*
テーマカラー背景色
*/
$backgroundMap: (
    "recommend": v.$color-recommend-background,
    "review": v.$color-review-background,
    "fresh": v.$color-fresh-background,
    "warning": v.$color-warning-background,
    "danger": v.$color-danger-background,
);

/*
テーマカラーテキスト色
*/
$textMap: (
    "recommend": v.$color-recommend-text,
    "review": v.$color-review-text,
    "fresh": v.$color-fresh-text,
    "warning": v.$color-warning-text,
    "danger": v.$color-danger-text,
);

/*
テーマカラー修飾子追加mixin
*/
@mixin modifiers($prefix) {
    @each $name in $names {
        &.#{$prefix}__#{$name} {
            background: map.get($backgroundMap, $name);
            color: map.get($textMap, $name);
        }
    }
}
