/*
ページヘッダーブロックのスタイル定義
*/

@use "../variables" as v;

/*
ページヘッダー
*/
.bl_pageHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: v.$space-abs-sm;
    background-color: v.$color-sub-background;

    border-bottom: v.$border-separator-thin;

    /*
    ページヘッダー項目
    */
    .bl_pageHeader_item {
        margin-left: v.$space-abs-md;

        &:first-child {
            margin-left: 0;
        }

        /*
        伸長項目
        */
        &.bl_pageHeader_item__grow {
            flex: 1;
        }
    }
}
