/*
順序無しリストのスタイル定義
*/

@use "../variables" as v;

/*
順序無しリスト
*/
.bl_ulist {
    /*
    順序無しリスト項目
    */
    .bl_ulist_item {
        &::before {
            content: "\200B";
        }
    }

    // 記号あり時
    &.bl_ulist__disc .bl_ulist_item {
        &::before {
            content: "\2022";
            padding-right: v.$space-rem-sm;
        }
    }

    // 入れ子リストのマージン設定
    & & {
        margin-left: v.$space-rem-md;
    }
}