/*
順序無しリストのスタイル定義
*/

@use "../variables" as v;

/*
順序無しリスト
*/
.bl_ulist {
    padding: 0;
    margin: 0;

    /*
    順序無しリスト項目
    */
    .bl_ulist_item {
        list-style-type: none;

        // HTML読み上げ対応のためにサイズ0空白を入れる。
        // https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type#accessibility_concerns
        &::before {
            content: "\200B";
        }
    }

    // 記号あり時
    &.bl_ulist__disc {
        padding-left: 1.5em;

        .bl_ulist_item {
            list-style-type: disc;
        }
    }

    // 入れ子リストのマージン設定
    & & {
        margin-left: v.$space-rem-lg;
    }

    /*
    水平リスト
    */
    &.bl_ulist__horizontal {
        display: flex;
        flex-direction: row;

        .bl_ulist_item {
            margin-left: v.$space-abs-md;
        }
        
        .bl_ulist_item:first-child {
            margin-left: 0;
        }
    }
}
