/*
ページのスタイル定義
*/

@use "../variables" as v;

/*
ページ
*/
.ly_page {
    display: flex;
    flex-direction: row;
    justify-content: center;

    /*
    高さ最大まで伸ばす。
    */
    &.ly_page__grow {
        flex: 1;
    }

    /*
    ページ内容
    */
    .ly_page_inner {
        flex: 1;
        max-width: v.$size-screen-large;
    }
}
